@import "settings";
@import "foundation.scss";


.home-container {
  // max-height: 100vh;
  
}


.logo {
  // max-height: 100vh;
  max-height: 90vh;
  margin: 0 auto;
  display: block;
}

.email {
  text-align: center;
  display: block;
}
